.cl1{
    color:green;
    font-size: 20px;
    font-weight: 700;
}

*{
    color: rgb(247, 0, 0);
    background: skyblue;
}

#asd{
    font-size: 40px;
    color: blueviolet;
}

div{
    color:orangered;
}

#qwe{
    font-size: 50px;
    color: brown;
}